
body {
    font-family: Arial, sans-serif;
    background-color: #eaf7f7;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.carrossel {
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.carrossel h2 {
    color: #004d4d;
    margin-bottom: 15px;
    font-size: 24px;
}

.carrossel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 2px solid #004d4d;
    border-radius: 10px;
    background-color: #ffffff;
}


.carrossel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.slide img {
    width: 75%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slide p {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
    text-align: justify;
}


.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 77, 77, 0.7);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    z-index: 1000;
    transition: background-color 0.3s;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 77, 77, 0.9);
}
